<table>
    <form>
        <tr>
            <td>
                Name : {{vm.test}}
            </td>
            <td>
                <input type="text" ng-model="vm.oStateAlone.Name" name="Name">
            </td>
        </tr>
        <tr>
            <td>
                Contact :
            </td>
            <td>
                <input type="text" ng-model="vm.oStateAlone.Contact" name="Contact">
            </td>
        </tr>
        <tr>
            <td>
                AccountNo :
            </td>
            <td>
                <input type="text" ng-model="vm.oStateAlone.AccountNo" name="AccountNo">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" ng-click="vm.save()">Save</button>
            </td>
        </tr>

    </form>
</table>