
    <table>
        <form>
            <tr>
                <td>
                    Description :
                </td>
                <td>
                    <input type="text" ng-model="vm.oCategory.description" name="description">
                </td>
            </tr>
            <tr>
                <td>
                    Title :
                </td>
                <td>
                    <input type="text" ng-model="vm.oCategory.title" name="title">
                </td>
            </tr>
            <tr>
                <td>
                    Order :
                </td>
                <td>
                    <input type="text" ng-model="vm.oCategory.order" name="order">
                </td>
            </tr>
            <tr>
                <td>
                    Type :
                </td>
                <td>
                    <input type="text" ng-model="vm.oCategory.type" name="type">
                </td>
            </tr>
            <tr>
                <td>
                    Url :
                </td>
                <td>
                    <input type="text" ng-model="vm.oCategory.url" name="url">
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit"  ng-click="vm.save()">Save
                        </button>
                </td>
            </tr>

        </form>
    </table>
